version 5.245.1
source https://nuget.org/api/v2

frameworks: net46, netcoreapp2.0, netstandard2.0

nuget ExcelDataReader
nuget ExcelDataReader.DataSet
nuget FSharp.Core 4.3.4
nuget NetStandard.Library.NetFramework
nuget System.Text.Encoding.CodePages

github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

group Build
  source https://api.nuget.org/v3/index.json
  generate_load_scripts:true
  framework: netstandard2.0
  nuget Fake.Core.Target
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.Testing.NUnit
  nuget Fake.IO.FileSystem



group Test
  source https://nuget.org/api/v2
  frameworks: net461, netcoreapp2.1

  nuget Microsoft.NET.Test.Sdk
  nuget NUnit
  nuget NUnit.Console
  nuget NUnit3TestAdapter version_in_path: true
  nuget FSharp.Core redirects:on
  nuget FsUnit

